<!DOCTYPE html>
<html>

<head>
  <title>PimpMyStremio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../assets/bootstrap.min.css">

  <script type="text/javascript" src="../node_modules/androidjs/lib/androidjs.js"></script>

  <style>
    .jumbotron {
      background-color: black;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="text-center">
      <h3>PimpMyStremio POC</h3>
      <p>Click the button below to start PMS.</p>
      <button class="btn btn-primary w-100 mt-3 mb-3" id="init">START</button>

      <h4>Logs</h4>
      <div class="jumbotron text-left p-3" id="log"></div>
    </div>
  </div>

  <script src="../assets/jquery-3.3.1.slim.min.js"></script>
  <script type="text/javascript" src="../assets/script.js"></script>
</body>

</html>